.Toolbar {
    height:56px;
    width: 100%;
    position:fixed;
    top:0;
    left:0;
    background-color: #2e2f41;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 99;
}

.Toolbar2 {
    height:56px;
    width: 100%;
    position:fixed;
    top:56px;
    left:0;
    background-color: #393a4e;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 99;
}
.Toolbar2 p{
    color:white;
}
.leftAligned{
    margin-left: auto;
    padding-right: 5vw;
    padding-left: 5vw;
    display: inline-block;
}

.Toolbar nav{
    height: 100%;

}
.numberStyle{
    display:inline-block;
    margin-left: 5px;
}
.shortTxt { 
    display: none;
    text-align: center;
 }

@media (max-width: 500px) {
    .shortTxt { display: inline-block; }
    .fullTxt { display: none; }
}
#callImg{
    height: 20px;
    width: 20px;
    vertical-align: middle;
    display: inline-block;
}

.whiteLogo{
    height:20px;
    width:20px;
    margin-left: auto;
    display: inline-block;
    vertical-align: middle;
}