.container{
    display:flex;
    height: 25rem;
    width: 100%;
    justify-content: center;
    margin-top: 0px;
    background-color: #282834;
    overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.container::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .container {
    -ms-overflow-style: none;
  }

.inputWrapper p{
    color: black;
    display: inline-block;
}

.amountInputStyle{
    display: inline-block;

}

.selectFromStyle{
    display: inline-block;

}
.selectToStyle{
    display: inline-block;

}
.innerWrapper{
    margin:20px;
    display:flex;
    justify-content: space-between;
    width: 80%;
    background-color: white;
    padding: 1rem;
    flex-wrap: wrap;
    overflow: hidden;
}

.inputWrapper{
    overflow:auto;
    background-color:#282834 ;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-bottom: 0px;
    bottom: 0px;
}

.titleTxt{
    
    padding-top: 3rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    background-color:#282834 ;
    color: white;
    margin: 0;
}

.transactionBtnStyle{
    height: 2rem;
    top: 0px;
    align-self: flex-end;
    border-radius: 12px;
    background-color: #37384a;
    width: 90px;
    color:white
}

@media (max-width:700px){
    .container{
        flex-wrap: wrap;
    }
    .inputWrapper{
        flex-wrap: wrap;
    }
    .innerWrapper{
        flex-direction: column;
        align-content: center;
    }
}
