.account{
    display:inline-block;
    width: 33%;
    margin-left: 1vw;
    margin-right: 1vw;
    border:2px solid black;
    text-align: center;
    border-top:4px solid;
    margin-top: 0.5rem;
    background-color: white;
    overflow-y: auto;
    max-height: 50vh;
    min-height: 30vh;
}

.account p{
    margin:0px;
}

.listClass{
    list-style: none;
}
.accountNameWrapper{
    position:sticky;
    top:0;
    margin-top: 0px;
    height: 25%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #393a4e;
    font-size: 1.5rem;
    flex-direction: column;
    margin: 0px;
}


.amountStyle{
    margin-right:auto;
    padding-left:1vw;
        
}
.amountStyle p{
    margin:0px;
}

@media (max-width:1000px){
    .account{
        display:block;
        width: 90%;
    }
    .accountNameWrapper{
        font-size: 1rem;
    }
}
.accountDetailsSmall{
    display:none;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.account::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .account {
    -ms-overflow-style: none;
  }

.arrowImageStyle{
    height:4vh;
    width:4vw;
    top:0px;
    right:0;
    align-self: flex-end;
    display: none;
}


.overViewBtnStyle{
    margin-top: 0;
    background-color: #2f3042;
    color: white;
    border-radius: 12px;
    width: 70%;
    height: 3rem;
    text-overflow: clip;
}

@media (max-width:700px){
    .account{
        display:flex;
        width: 90%;
        height: 33%;
        min-height: 10vh;
                
    }
    .arrowImageStyle{
        display: inline-block;
    }
    
    .accountNameWrapper{
        
        width: 100%;
        height: auto;
    }
    /* .historyStyle{
        display:none;
    } */
    
    .accountDetailsBig{
        width: 100%;
        flex-wrap: wrap;
        height: auto;
        
    }
    /* .accountDetailsSmall{
        display:flex;
        position:sticky;
        margin-top: 0px;
        height: 100%;
        align-items: center;
        background-color: #393a4e;
        color:white;
        font-size: 1.5rem;
        margin: 0px;
    } */
    .accountNameWrapper{
        font-size: 1rem;
    }
}
