.FooterStyle{
    background-color: #21212b;
    font-size: 12px;
    color: white;
    text-align: center;
    padding-top: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
}

.HelperDivStyle{
    display: block;
    padding-top: 20px;
    height: 20vh;
    width: 100%;
    background-color: #282834;
}