 .fromStyle{
    margin-top: 1rem;
}

.fromAmountStyle{
    margin-right: 2rem;
    margin-top: 1rem;
} 

.infoWrapperStyle{
    display:flex;
    justify-content: space-between;
}

@media (max-width:700px){
    .historyStyle{
        display:none;
    }
}


.dateStyle{
    align-self: flex-end;
    font-size: 0.7rem;
}